.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.first {
    background-image: linear-gradient(to right, red, green 500px, yellow);
    width: 90%;
}

.main_head {
    text-align: center;
    text-decoration: underline;
}

.second {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 100px;
    width: 800px;
    border: 5px solid red;
    border-radius: 10px;
    background-color: rgb(185, 223, 233);
    margin: 20px;
}

.third_parent {
    box-sizing: border-box;
    border: 5px inset green;
    border-radius: 10px;
    height: 170px;
    width: 90%;
    margin: 20px;
    background-color: rgb(148, 247, 186);
}

.box {
    height: 80px;
    width: 300px;
    border: 2px solid green;
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    background-color: cyan;
    font-weight: bold;
}

.third1 {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.third2 {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.fourth {
    background-image: linear-gradient(to right, red, yellow, red);
    width: 90%;
}

.subhead {
    text-decoration: underline red;
    text-align: center;
}

.fifth_parent {
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    border: 2px solid green;
    margin-top: 20px;
    width: 90%;
    align-items: center;
    box-sizing: border-box;
    background-image: radial-gradient(blue, #1e90ff, #2ed573);
}

.card {
    height: 75%;
    width: 15%;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
    background-color: yellow;
    font-weight: bold;
    color: maroon;
    text-decoration: underline;
    line-height: 40px;
}

.t {
    text-align: center;
}

.t1 {
    grid-area: t1;
    background-color: red;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 30px;
    margin-top: 20px;
}

.t2 {
    grid-area: t2;
    background-color: rgb(6, 253, 26);
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

.t3 {
    grid-area: t3;
    background-color: rgb(0, 132, 255);
    color: white;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    height: 100%;
}

.t4 {
    grid-area: t4;
    background-color: rgb(73, 11, 131);
    color: white;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.t5 {
    grid-area: t5;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    text-align: left;
    padding-right: 10px;
    box-sizing: border-box;
}

.t6 {
    grid-area: t6;
    background-color: rgb(199, 181, 23);
    color: white;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.t7 {
    grid-area: t7;
    background-color: cyan;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.sixth_parent {
    display: grid;
    justify-items: center;
    grid-template-areas: 't1 t1 t1 t1' 't2 t3 t4 t5' 't6 t6 t6 t5' 't7 t7 t7 t7';
    grid-template-rows: 2fr 3fr 5fr 1fr;
    width: 90%;
    row-gap: 10px;
    column-gap: 10px;
}